<h1>Library</h1>

<div class="add-book">
  <h2>{{ isEditing ? 'Edit Book' : 'Add Book' }}</h2>
  <hr>
  <div class="add-book-form">
    <div class="left-group">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" name="title" [(ngModel)]="selectedBook.title">
      </div>
      <div class="form-group">
        <label>Cover:</label>
      </div>
      <div class="form-group">
        <label>Genre:</label>
        <input type="text" name="genre" [(ngModel)]="selectedBook.genre">
      </div>
      <div class="form-group">
        <label>Author:</label>
        <input type="text" name="author" [(ngModel)]="selectedBook.author">
      </div>
    </div>
    <div class="right-group">
      <div class="form-group content-group">
        <label for="content">Content:</label>
        <textarea name="content" [(ngModel)]="selectedBook.content"></textarea>
      </div>
    </div>
    <div class="form-group buttons-group">
      <button class="add-button" (click)="saveBook()">{{ isEditing ? 'Save' : 'Add' }}</button>
      <button class="clear-button" (click)="clearForm()">{{ isEditing ? 'Cancel' : 'Clear' }}</button> 
    </div>
  </div>
</div>


